<%col = 0%>
<div class="row">
  
<%PromotionProduct.products(promotion.id).each do |product|%>
  <%if col == 3 %>
    </div>
    <br>
    <div class="row">
    <% col = 0 %>
  <%end%>
  <div class="col-lg-4">
    <%= render "item", product: product%>
  </div>

  <% col += 1 %>
<%end%>
  
</div>